@page "/dawnloadData"

<PageTitle>Pobieranie</PageTitle>

<div class="d-flex flex-column justify-content-center align-items-center">
    <h1>Pobierz dane</h1>

    <form>
        <button class="btn btn-primary">Pobierz Sale</button>
        <a class="btn btn-danger" href="#" role="button">Anuluj</a>
    </form>
</div>
