@page "/login"
@rendermode InteractiveServer
@using System.ComponentModel.DataAnnotations
@inject IOsobyService OsobyService
@inject NavigationManager Navigation
@inject IJSRuntime JSRuntime
@inject UserSessionService Session

<PageTitle>Logowanie</PageTitle>

<div class="d-flex flex-column justify-content-center align-items-center">
    <h1>Logowanie</h1>

    <EditForm Model="loginModel" OnValidSubmit="HandleLogin">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div style="width: 300px;">
            <div class="mb-3">
                <label class="form-label">Adres e-mail</label>
                <InputText @bind-Value="loginModel.Username" class="form-control" />
                <ValidationMessage For="@(() => loginModel.Username)" />
            </div>

            <div class="mb-3">
                <label class="form-label">Hasło</label>
                <InputText @bind-Value="loginModel.Password" class="form-control" type="password" />
                <ValidationMessage For="@(() => loginModel.Password)" />
            </div>

            <button type="submit" class="btn btn-primary me-2">Zaloguj</button>
            <a class="btn btn-danger" href='/register' role="button">Zarejestruj się</a>
        </div>
    </EditForm>
</div>

@code {
    private LoginModel loginModel = new();
    private string ErrorMessage;
    private bool IsLoggingIn = false;

    private async Task HandleLogin()
    {
        IsLoggingIn = true;
        ErrorMessage = string.Empty;

        try
        {
            var (success, message) = await OsobyService.LoginAsync(loginModel.Username, loginModel.Password);

            if (success)
            {

                await JSRuntime.InvokeVoidAsync("sessionStorage.setItem", "username", loginModel.Username);
                await JSRuntime.InvokeVoidAsync("sessionStorage.setItem", "email", loginModel.Username); 
                Session.SetUser(loginModel.Username);
                await Task.Delay(100);
                Navigation.NavigateTo("/", forceLoad: true);
            }
            else
            {

                ErrorMessage = message; 
            }
        }
        catch (Exception ex)
        {

            ErrorMessage = $"Wystąpił błąd: {ex.Message}";
        }
        finally
        {
            IsLoggingIn = false;
        }
        
        
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            StateHasChanged();
        }
    }

    public class LoginModel
    {
        [Required(ErrorMessage = "Login jest wymagany")]
        [EmailAddress(ErrorMessage = "Nieprawidłowy adres e-mail")]
        public string Username { get; set; }

        [Required(ErrorMessage = "Hasło jest wymagane")]
        public string Password { get; set; }
    }
    
}
